@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.trolly{
    width:245px;
    z-index: 11;
    min-height: 500px;
}
.trolly-top{
    top:88px
}
.trolly-front{
    top: 109px;
    right: 2px;
}
.trolly-back{
    left: -18px;
    top: 81px;
}
.trolly-left{
    left: -15px;
    top: 100px;
}
.trolly-right{
    right: 8px;
    top: 79px;
    z-index: -11;
}
.trolly-bottom{
    top:303px;
    left:-8px;
    z-index:-9

}